# This is needed to fix codecoverage workflow errors

[workspace]
resolver = "1"
members = ["src-tauri"]

[profile.release]
incremental = false
codegen-units = 1
panic = "abort"
opt-level = "s"
lto = true
