/* Circle to represent the language in the dropdown */
.fiCircle {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
  background: white;
}