@import "./leptonic/leptonic-themes.scss";

[data-theme="light"] {
    --brand-color: #e66956;

    --drawer-background-color: none;
    --drawer-box-shadow: none;
}

[data-theme="dark"] {
    --brand-color: #e66956;

    --drawer-background-color: none;
    --drawer-box-shadow: none;
}