/* Provided by: https://gedkirkham.dev/blog/post/loading-icon-button-tutorial.html */
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
    
.refreshStart {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}