@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Roboto, sans-serif;
}

html, body {
    background-color: #E5E7EB;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/* Makes the language flags circular */
.fiCircle {
    width: 24px !important;
    height: 24px !important;
    font-size: 24px !important;
    border-radius: 100%;
    border: none;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
    background: white;
}

/* Overwriting the Leptos Modal alignment */
leptonic-modal-footer {
    justify-content: flex-start !important;
}

/* Overwriting Leptonic Selector width */
.leptonic-select-wrapper {
    width: 100%;
}

leptonic-collapsible {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}