[Desktop Entry]
Name=Raspirus
GenericName=Raspirus
Comment=A user- and resources-friendly rules-based malware scanner
Exec=raspirus
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/raspirus.svg
Categories=GTK;Utility;
StartupNotify=false